@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}

<div class="detail-form">
    <h2 id="form-title">Identity Roles</h2>

    <h4>
        @Html.DisplayFor(model => model.Name)
    </h4>

    <h3>List of users in this role</h3>

    <div class="form-content">

        @if (ViewBag.UserCount == 0)
        {
            <p>No users found in this role.</p>
        }

        @foreach (var item in ViewBag.Users)
        {
            <ul>
                <li>
                    @item.UserName
                </li>
            </ul>
        }
        <p class="button " id="detail-edit">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </p>
    </div>
    <p class="button " id="back-button">
        @Html.ActionLink("Cancel", "Index")
    </p>
</div>




