@{
    ViewBag.Title = "Confirm Email";
}

<div class="create-form">
    <h2 id="form-title">@ViewBag.Title</h2>
    <div class="form-horizontal form-content">
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
    <div class="button " id="back-button">
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>

</div>