@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="detail-form">
    <h2 id="form-title">@ViewBag.Title</h2>
    <h4></h4>
    <div class="form-horizontal form-content">
        <h3>
            Please check your email to reset your password
        </h3>
        <p class="text-danger">
            For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
            Please change this code to register an email service in IdentityConfig to send an email.
        </p>
    </div>
</div>
