@model IceBear.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div class="detail-form">
    <h2 id="form-title">Details</h2>

    <h4>
        @Html.DisplayFor(model => model.UserName)
    </h4>

    <h3>List of roles for this user</h3>

    <div class="form-content">

        @if (ViewBag.RoleNames.Count == 0)
        {
            <p>No roles found for this user.</p>
        }


            @foreach (var item in ViewBag.RoleNames)
            {
                <ul>
                    <li>
                        @item
                    </li>
                </ul>
            }

        <p class="button " id="detail-edit">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </p>
    </div>
    <p class="button " id="back-button">
        @Html.ActionLink("Cancel", "Index")
    </p>
</div>


